# Documentation on how to configure the bundle can be found at: https://symfony.com/doc/current/bundles/LiipImagineBundle/basic-usage.html
liip_imagine:
    # valid drivers options include "gd" or "gmagick" or "imagick"
    driver: "gd"
    controller:
        redirect_response_code: 302
    webp:
        generate: true
    filter_sets :
        cache : ~
        thumbnail :
            quality : 75
            filters :
                # create a thumbnail: set size to 120x90 and use the "outbound" mode
                # to crop the image when the size ratio of the input differs
                thumbnail  : { size : [80, 80], mode : outbound }
        full:
            quality: 100
            filters:
                scale: { dim: [ 600, 600 ] }
        first_page:
            quality: 100
            filters:
                scale: { dim: [ 473, 554 ] }
        odd_page:
            quality: 100
            filters:
                scale: { dim: [ 370, 400 ] }
        even_page:
            quality: 100
            filters:
                scale: { dim: [ 370, 250 ] }