{% extends 'base.html.twig' %}

{% block body %}
    <p>Bonjour !</p>

    <div data-controller="counter">
        <button
                data-action="counter#increment"
                class="btn btn-primary btn-sm">
            Click me!
        </button>
        <br>

        I have been clicked
        <span data-counter-target="count">0</span>
        times!
    </div>
{% endblock %}