{% extends 'base.html.twig' %}

{% block body %}
<section>
    <div class="container">

        <h1>{{ preTitle }}{{ page.title }}</h1>
        <p>{{ page.content|raw }}</p>


        {% include 'post/_list_layout.html.twig' %}

    </div>
</section>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/macy@2"></script>
    {{ parent() }}
{% endblock %}